
/* font family add */
/* font family add */


.work-sans-fonts {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}



/* shared style */
/* shared style */

.display-flex{
    display:flex;
}

.text-deep-gray{
    color: #131313;
}

.text-gray{
    color: #424242;
}

.text-light-gray{
 color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
}

.text-primary{
    color: #FF900E;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main>section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    
}




/* navigation bar styles */
/* navigation bar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    gap: 30px;
     
}

.nav-link{
    text-decoration: none; 
    font-size: 18px; 
    font-weight: 500;

}


.nav-item{
    list-style: none;
    margin-right: 30px;
   
}



 

.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

.brand{
    font-size: 2.8rem;
    font-weight: bold;
   
}


/* banner style */
/* banner style */

.banner-content{
    max-width: 851px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.banner-description{
    font-size: 16px;
}

.banner-image{
    width: 100%;
    margin-bottom: 50px;
}


/* teams section */
/* teams section */


.teams{
    display: flex;
    align-items: center;
    gap: 73px;
   
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 24px;
    width: 100%;
}

.our-features{
    width: 100%;
    justify-content: center;

}




  /* #quick{
    font-weight: 300px;
}
#our{
    font-weight: bold;
}   */




.teams-description{
    font-size: 1rem;
}


      /* feature section */
       /* feature section */

       .feature{
        max-width: 1440px;
        margin: 100px auto;
        gap: 54px;
        
       }

       .title{
        font-size: 1.25rem;
        font-weight: 600px;
        margin-top: 0px;
       
       }

       .feature-sub-title{
        max-width:586px;
       
       }

       .feature-description{
        font-size: 1rem;
        margin-bottom: 0px;
       }

       .feature-cards{
        max-width: 586px;
        height: auto;
        padding: 30px;
        margin-top: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
       }

       .image-ar{
        width: 100%;
        height: auto;
      
       
       }

       

        /* #experience-badge{
        padding: 45px 42px;
        font-size: 1.235rem;
        margin-left: -100px;
        margin-top: -100px;
       
       }

       #experience-year{
        font-size: 4rem;
        font-weight: bold;
        margin: 0px;
       }  */




   /*some facts  */
    /*some facts  */

    .fact-container{
        display: grid;
        grid-template-columns: repeat(4,auto);
        justify-content: space-around;
        margin-top: 100px;
        width: 100%;
        gap: 50px;
    }

    .fact-description{
        max-width: 540px;
    }
  .fact{
    width: 242px;
    height: 242px;
    border: 2px solid #FF900E;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:55px 37px 0px  36px ;
   
  }

  .fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px;
  }

  .fact-name{
    font-size: 1.25rem;
    font-weight: 600;
  }


  .sponsor-title{
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
  }

  .sponsor-description{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
  }

  .sponsor-image{
    display: grid;
    grid-template-columns: repeat(5,auto);
    margin-bottom: 100px;
    justify-content: space-around;
    gap: 25px;
  }

  .sponsor-image>img{
    filter: grayscale(100%);
  }


          /* footer */
           /* footer */

  footer{
    margin: 0 auto;
     max-width: 1440px; 
    height: 100px;
    margin-bottom: 100px;
   
  }

  .footer{
  font-size: 1.25rem;
  text-align: center;
  padding: 40px 100px;
  background-color:rgba(255, 144, 14, 0.1); ;
  border: none;
  border-radius: 8px;
  
  

   
  }





         /* responsive media query */


           /* smaller device */
           /* smaller device */

@media screen and (max-width:576px) {
    .navbar,.nav-links{
        flex-direction: column;
    }

    .teams{
        flex-direction: column-reverse;
    }

    .team-img-container{
        grid-template-columns: repeat(1,auto);
        justify-content: center;
        
    }

    .fact-container{
        grid-template-columns: repeat(1,auto);
    }

    .sponsor-image{
        grid-template-columns: repeat(1,auto);
        justify-content: center;
        width: 100%;
    }

    .feature{
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }

    /* #experience-badge{
        padding: 45px 42px;
        font-size: 1.235rem;
        margin-left: -100px;
        margin-top: -100px; 
       
       } */

    

}


           /* medium device */
            /* medium device */

@media screen and (min-width:577px) and (max-width:992px) {
    .teams{
        flex-direction: column-reverse;
    }

    .team-img-container{
        grid-template-columns: repeat(2,auto);
        justify-content: center;
       
    }

    .fact-container{
        grid-template-columns: repeat(2,auto);
    }
    .sponsor-image{
        grid-template-columns: repeat(3,auto);
        justify-content: center;
        width: 100%;
    }

    .feature{
        flex-direction: column-reverse;
        width: 100%;
        height: auto;  
    }

   

    
}

